#close {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #eee;
  cursor: pointer;
  opacity: 0.8;
  z-index: 6;

  position: absolute;
  top: 70px;
  right: 0%;
}

#close::before,
#close::after {
  display: block;
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 2px;
  margin: -1px 0 0 -10px;
  background: #4f4f4f;
}

#close::before {
  transform: rotate(-45deg);
}

#close::after {
  transform: rotate(45deg);
}


#next,
#prev {
  display: inline-block;
  padding-left: 22px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  opacity: 0.8;
  z-index: 6;

  position: absolute;
  right: 0%;
  margin: 8px;
}

#next {
  top: 101px;
}

#prev {
  top: 140px;
}

#next::before,
#prev::before {
  display: block;
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  left: 0;
  background: #eee;
}

#prev::after,
#next::after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-top: solid 2px #4f4f4f;
  border-right: solid 2px #4f4f4f;
  top: 10px;
}

#prev::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: -1px;
}

#next::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 7px;
}



#close:hover {
  background: #4f4f4f;
}

#close:hover::before,
#close:hover::after {
  background: #ffffff;
}

#prev:hover::before,
#next:hover::before {
  background: #4f4f4f
}

#prev:hover::after,
#next:hover::after {
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}

#buttons {
  position: fixed;
  right: 25px;
  z-index: 6;
}


.works_header h2 {
  font-weight: bold;
  color: #eee;
}

.works_header .info {
  color: #eee;
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 5px;
}

.works_contents {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.works_contents div {
  margin-bottom: 10px;
}

.works_contents a {
  color: #eee;
  text-decoration: underline;
}

.works_contents a:hover {
  opacity: 0.4;
}


@media screen and (max-width:1000px) {
  .works_contents .block_r {
    width: 600px;
    margin-right: 5vw;
    margin-bottom: 50px;
    float: none;
  }
}

@media screen and (min-width:1000px) {
  .works_contents .block_r {
    width: calc(100% - 630px);
    /* width: 20%; */
    margin-left: 30px;
    min-height: 330px;
  }
}

.works_contents .block_r h3 {
  color: #eee;
  /* font-weight: 600; */
  font-size: 105%;
  margin-top: 25px;
  margin-bottom: 5px;
}

.works_contents .block_r h4 {
  color: #eee;
  font-weight: 600;
  font-size: 95%;
  margin-top: 20px;
  margin-bottom: 0px;
}

.works_contents .block_l {
  width: 600px;
  float: left;
}

.works_contents .block_l img {
  width: 100%;
  margin-bottom: 3.5%;
}

.works_contents .block_l .half_img_l,
.works_contents .block_l .half_img_r {
  width: 49%;
  margin-bottom: 1.5%;
  position: relative;
}

.works_contents .block_l .half_img_l {
  left: 0%;
}

.works_contents .block_l .half_img_r {
  right: -1.5%;
  /* right:-3.5%; */
  /* left:3.5%; */
}

.works_contents .block_l .mov {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 2%;
  overflow: hidden;
}

.works_contents .block_l .mov iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.works_contents ul {
  /* list-style:armenian; */
  list-style-type: circle;
  margin-top: 0px;
  margin-left: 10px;
  padding-left: 10px;
}