
 .featured {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", 'ヒラギノ角ゴ Pro';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: 0;
    margin-bottom: 50px;
}

.featured h1 {
    margin-bottom: 20px;
}

@media screen and (min-width:620px) {
    .featured {
        width: calc(620*0.9px);
    }
}

@media screen and (max-width:620px) {
    .featured {
        width: 90%;
        overflow: hidden;
    }
}

.featured a {
    color: #888;
    border-bottom: solid #888 1px;
    padding-bottom: 0.01px;
    /* color: #444; */
}

.featured a:hover {
    color: #4f4f4f;
    border-bottom: solid #4f4f4f 1px;

}

.f_category {
    margin-top: 50px;
}

.f_category h2 {
    /* text-align: center; */
    /* border-top: solid 1px; */
    border-bottom: solid 1px;
    margin-bottom: 10px;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}

/* ol {
    margin: 10px 0 0 0;
} */
/* li {
    margin-bottom: 8px;
    margin-left: -22px;
} */

.f_contents {
    clear: both;
}

.f_contents h3 {
    color: #444;
    margin: 0px 0px 0px 0px;
}

.f_contents h4 {
    margin: 0;
    font-size: 90%;
    font-weight: bold;
    color: #4f4f4f;
}

.f_contents .figure {
    margin-right: 2%;
    margin-bottom: 5px;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.f_contents img {
    margin-right: 2%;
    margin-bottom: 5px;
    width: 100%;
}

.f_contents .figure iframe {
    width: 100%;
    height: 100%;
}

.f_contents .stmt {
    width: 100%;
    margin-bottom: 60px;
}

.f_contents .stmt div {
    margin-bottom: 16px;
}

.f_contents .bold {
    font-weight: bold;
}

ul {
    margin-top: 0px;
    margin-left: -20px;
}

.featured highlight {
    background: linear-gradient(transparent 40%, #ff6 40%);
}

.featured ol,
.featured ul {
    margin: 5px 0px 40px -20px;
}

.featured ol li div,
.featured ul li div {
    margin: 0px 0px 0px 5px;
    font-weight: bold;
}

.featured ol li .sub-item,
.featured ul li .sub-item {
    font-weight: normal;
}

.featured ol li,
.featured ul li {
    margin: 0px 0px 10px 0px;
}