.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 0px;
  padding: 0 0 0 0;
}

.flex_box {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  z-index: 1;
  /* flex-basis: 400px; */

  margin-right: 2%;
  margin-bottom: 2%;
}

@media screen and (min-width:980px) {
  .flex_box {
    flex-basis: 320px;
  }
}

@media screen and (max-width:980px) {
  .flex_box {
    flex-basis: 320px;
  }
}

.flex_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: saturate(90%); */
}

.flex_box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex_box .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* .flex_box .mask:hover { */
  /* opacity: 1; */
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* マスクを表示する */
/* } */
.flex_box .caption {
  position: absolute;
  color: #fff;
  padding: 12px 20px 12px 20px;
  display: none;
  white-space: nowrap;
  opacity: 1;
  display: block;
}

.flex_box .caption .title {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", 'ヒラギノ角ゴ Pro';
  font-size: 120%;
  margin-bottom: 5px;
  font-weight: 800;
}

.flex_box .caption .info {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 90%;
  margin-bottom: 3px;
  font-weight: 300;
}

.flex_box:hover .caption {
  opacity: 1;
}


#allView {
  /* text-align: center; */
  cursor: pointer;
  font-weight: bold;
  font-size: 150%;
}
#allView:hover {
  opacity: 0.6;
}