@media screen and (min-width:980px){
  .half_gif{
    width:49%;
    /* margin: 0 0.5% 1.0% 0.5%; */
    margin-bottom: 2%;
    position: relative;
    z-index: 1;
  }
  .padding {
    width: 2%;
    /* margin-right: 10px; */
  }
}
@media screen and (max-width:980px){
  .half_gif{
    /* width:43vw;
    height:43vw; */
    width:48%;
    height:48%;
    margin-bottom: 2%;
    /* margin-bottom: 1.5vw; */
    object-fit: cover;
    position: relative;
    z-index: 1;
  }
  .padding {
    /* width: 1.5vw; */
    width: 2%;
  }
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}
.half_gif img{
  width:100%;
  height:100%;
  object-fit: cover;
}


@media screen and (min-width:980px){
  .half_gif .mask {
  	width:			100%;
  	height:			100%;
  	position:		absolute;	/* 絶対位置指定 */
  	top:			0;
  	left:			0;
  	opacity:		0;	/* マスクを表示しない */
  	background-color:	rgba(0,72,100,0.4);
  	-webkit-transition:	all 0.2s ease;
  	transition:		all 0.2s ease;
  }
  .half_gif:hover .mask {
  	opacity:		1;	/* マスクを表示する */
  }

  .half_gif .caption{
    color:#ffffff;
    position: absolute;
    left:50%;
    top:50%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 80%;
    transform: translate(-50%,-50%);
    display: none;
    white-space: nowrap;
  }
  .half_gif:hover .caption{
    display: block;
    opacity: 1;
  }
}

@media screen and (max-width:980px){
  .half_gif .mask {
  	width:			100%;
  	height:			100%;
  	position:		absolute;	/* 絶対位置指定 */
  	top:0;
  	left:0;
  	opacity:1;
  	background-color:	rgba(0,0,0,0.0);
  	-webkit-transition:	all 0.2s ease;
  	transition:		all 0.2s ease;
  }
  .half_gif .caption{
    color:#ffffff;
    position: absolute;
    left:10px;
    bottom:10px;
    /* transform: translate(-50%,-50%); */
    opacity: 1;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 80%;
    display: block;
    white-space: nowrap;
  }
}
