
@media screen and (min-width:980px){
  .half_gif{
    width:50%;
    position: relative;
  }
  .wrap{
    display: flex;
    flex-wrap: wrap;
  }
}
.caption{
  /* color:#000000; */
  position: absolute;
  left:0;
  top:0;

  margin-top:-3px;

  opacity: 0.7;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 160%;
  font-weight:900;
}
.black{
  color:#000000;
}
.white{
  color:#ffffff;
}
.gray{
  color:#808080;
}
.caption .stmt{
  font-size: 50%;
}

@media screen and (max-width:980px){
  .half_gif{
    width:100%;
    position: relative;
  }
  .wrap{
  }
}
