

.flex_box{
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 300px;
  position: relative;
  z-index: 1;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.flex_box img{
  width:100%;
  height:100%;
  object-fit: cover;
}


@media screen and (min-width:980px){
  .flex_box .mask {
  	width:			100%;
  	height:			100%;
  	position:		absolute;	/* 絶対位置指定 */
  	top:			0;
  	left:			0;
  	opacity:		0;	/* マスクを表示しない */
  	background-color:	rgba(0,72,100,0.4);
  	-webkit-transition:	all 0.2s ease;
  	transition:		all 0.2s ease;
  }
  .flex_box:hover .mask {
  	opacity:		1;	/* マスクを表示する */
  }

  .flex_box .caption{
    color:#ffffff;
    position: absolute;
    left:50%;
    top:50%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 80%;
    transform: translate(-50%,-50%);
    display: none;
    white-space: nowrap;
  }
  .flex_box:hover .caption{
    display: block;
    opacity: 1;
  }
}

@media screen and (max-width:980px){
  .flex_box .mask {
  	width:			100%;
  	height:			100%;
  	position:		absolute;	/* 絶対位置指定 */
  	top:0;
  	left:0;
  	opacity:1;
  	background-color:	rgba(0,0,0,0.0);
  	-webkit-transition:	all 0.2s ease;
  	transition:		all 0.2s ease;
  }
  .flex_box .caption{
    color:#ffffff;
    position: absolute;
    left:10px;
    bottom:10px;
    /* transform: translate(-50%,-50%); */
    opacity: 1;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 80%;
    display: block;
    white-space: nowrap;
  }
}
