.modal{
    display: none;
    position: absolute;
    top: 0;
    margin-bottom: 30px;
    z-index: 2;
}
.modal__bg{
  background: #ffffff;
  opacity:0.95;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height:100%;
  z-index: 2;
}
.modal-full{
    display: none;
    position: absolute;
    top: 0;
    margin-bottom: 30px;
    z-index: 5;
}
.modal__content__full{
    background: #ffffff;
    color: #1f1f1f;
    left: 5%;
    top: 0px;
    position: fixed;
    z-index: 5;
}
.modal__content__full .close{
  left: 0;
  top: 28vw;
  position: fixed;
  transform: rotate(-90deg);
  color: #4f4f4f;
}

@media screen and (min-width:980px){
  .modal__content{
      background: rgba(255,255,255,0);
      color: #1f1f1f;
      left: 50vw;
      transform: translate(-50vw,0%);
      top: 70px;
      position: absolute;
      width: 60vw;
      overflow: auto;
      z-index: 3;
  }
}
@media screen and (max-width:980px){

  .modal__content{
      background: rgba(255,255,255,0);
      color: #1f1f1f;
      font-size: 80%;
      left: 50vw;
      transform: translate(-50vw,0%);
      top: 70px;
      position: absolute;
      width: 90vw;
      overflow: auto;
      z-index: 3;
  }
}
