html{
	scroll-behavior: smooth;
  /* overflow: hidden; */
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", 'ヒラギノ角ゴ Pro';
  color: #4f4f4f;
  font-size: 80%;
}

#main{
  padding-top: 62px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  width:90%;
  /* line-height: 1.1em; */
}



.logo_img{
	width:17px;
	height:17px;
	margin-right: 3px;
}

/* .profile {
  display: flex;
  flex-wrap: wrap;
  color: #666;
}
.profile a{
  color: #666;
}
.profile a:hover{
  opacity:0.4;
}
.profile img{
		width:300px;
		height:300px;
		margin-right:35px;
		padding-bottom:20px;
}
.profile p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile h1 {
  font-size: 130%;
  font-family: "Helvetica", Arial, sans-serif;
  color: #000;
  font-weight: bold;
  margin: 0 0 0 0;
}
.profile h2 {
  font-size: 100%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", 'ヒラギノ角ゴ Pro';

  color: #000; font-weight:normal;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
.profile ol {
  margin-left:-20px;
}
.profile ol li a div{
  margin-left:5px;
}
.profile ol li:hover{
  background: #eee;
}

@media screen and (min-width:750px){
  .profile .block {
    margin-bottom: 30px;
    margin-right:16px;
    max-width: 700px;
    width:calc(90vw - 370px);
  }
}
@media screen and (max-width:750px){
  .profile .block {
    margin-bottom: 30px;
    margin-right:16px;
    width:100%;
  }
}
.profile .head {
  float:left;
  width:95px;
}
.profile .item {
  margin-left:95px
}
.profile .word {
  display: inline-block;
}
.profile .border{
  width: 20px;
  text-align:left;
  margin-left:20px;
  color: #aaa;
  border-bottom: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lang_menu {
  position:absolute;
  right:0;
  top:80px;
}
.lang_menu p{

}
.lang_menu a{
  color: #4f4f4f;
}
.lang_menu a:hover {
  opacity:0.4;
} */



a {
	text-decoration: none;
}
h2 a,
h1 a {
  color: #000;
}
.head_menu a:hover,
h2 a:hover,
h1 a:hover,
p a:hover {
  opacity:0.4;
}




video {
  object-fit: cover;
}


/*ヘッダのフォント設定*/

.header_margin {
  padding-top: 120px;
  margin-top: -62px;
}


h1{
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: #000000;
  margin-top:10px;
  margin-bottom: 5px;
  font-size: 120%
	/* margin-bottom: 40px; */
}
h2{
  margin-top:10px;
  margin-bottom: 10px;
  color: #000000;
}
h3{
  margin-top:10px;
  margin-bottom: 5px;
  color: #000000;
}

p {
  margin-top: 0px;
}




.head_font1{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 160%;
  text-decoration: none;
  font-weight: bold;
}

.highlight{
  background:linear-gradient(transparent 50%, #ffff66 50%);
  display: inline;
}


.header1{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.header1 .head_logo{
  position:absolute;
  left:5%;
  top: 20px;
  color:#fff;
}
.header1 .head_menu{
  position:absolute;
  left:5%;
  top: 80px;
  color:#fff;
}
.header1 .head_menu a {
  color:#fff;
}
.header1 .head_menu div {
  margin-bottom: 10px;
}

.header2{
  height: 65px;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.8));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  color:#000;
}
.header2 .head_logo{
  position:absolute;
  left:5%;
  top: 20px;
  color:#000;
}
@media screen and (min-width:980px){
  .header2 .head_menu {
    position:absolute;
    right:5%;
    font-family: HelveticaNeue-light, "sans-serif";
    top: 26px;
    font-weight: bold;
    color: #000;
    display: block;
  }
  .header2 .head_menu a {
    color:#000;
  }
  .header2 .head_menu a :hover{
    opacity: 0.4;
  }
}
@media screen and (max-width:980px){
  .header2 .head_menu {
    /* position:absolute;
    top:65px;
    left:calc(5% - 20px);
    width: 100%;
    height:20vh;
    font-size:100%;
    font-family: HelveticaNeue-light, "sans-serif";
    font-weight: bold;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.0));
    display: none; */

    font-size:120%;
    font-family: HelveticaNeue-light, "sans-serif";
    font-weight: bold;
    background: #fff;
    position: absolute;
    top:65px;
    width: 100%;
    height: 110vh;
    display: none;
    opacity: 0.8;
    text-align:center;
    padding-top: 30%;
  }
  .header2 .head_menu a {
    margin: 20px 20px 20px 20px;
    color:#000;
  }
  .header2 .head_menu a :hover{
    color:#000;
    opacity: 1;
  }
  #hamb_menu {
    position:absolute;
    right:5%;
    top: 26px;
    color: #000;
    display: block;
    cursor: pointer;
  }
  #hamb_menu div {
    width: 30px;
    height: 2px;
    background: black;
    transition: all .5s;
  }
  #hamb_menu div:nth-of-type(1){
    margin-top: 0px;
  }
  #hamb_menu div:nth-of-type(2){
    margin-top: 6px;
  }
  #hamb_menu div:nth-of-type(3){
    margin-top:6px;
  }
  #hamb_menu.active div:nth-of-type(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
  }
  #hamb_menu.active div:nth-of-type(2) {
    opacity: 0;
  }
  #hamb_menu.active div:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
  }
}

.reel_mov {
  width:100%;
  height:24vw;
  margin-bottom:2vw;
  object-fit: cover;
}
.reel_bg {
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width:100vw;
  height:100vh;
  object-fit: cover;
 }
 .reel_text {
   position:fixed;
   left: 50%;
   transform: translate(-50%,0%);
   top: 80%;
   z-index: 4;

   font-size: 200%;
   font-family: "Helvetica Neue", Arial, sans-serif;
   font-weight: bold;
   color: #fff;
   border: solid 3px #fff;
   padding-top:5px;
   padding-bottom: 4px;
   padding-right:20px;
   padding-left:20px;
 }
 .reel_text:hover {
   opacity: 0.6;
 }



.footer {
  font-size: 70%;
}
.footer center {
  color:#4f4f4f;
  margin-top:40px;
  margin-bottom:20px;
}
.footer .fix {
  color:#fff;
  position:fixed;
  top:95vh;
  left: 50%;
  transform: translate(-50%,0);
  z-index:4;
}
