html{
	scroll-behavior: smooth;
  /* overflow: hidden; */
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", 'ヒラギノ角ゴ Pro';
  color: #4f4f4f;
  font-size: 80%;
}

#main{
  padding-top: 62px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  width:90%;
}



.logo_img{
	width:17px;
	height:17px;
	margin-right: 3px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  color: #888;
}
.profile a{
  color: #8f8f8f;
}
.profile a:hover{
  opacity:0.4;
}
.profile img{
		width:300px;
		height:300px;
		margin-right:20px;
		padding-bottom:40px;
}
.profile p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile h1 {
  font-size: 130%;
  color: #000;
  font-weight: bold;
  margin: 0 0 0 0;
}
.profile .block {
  margin-bottom: 16px;
  margin-right:16px;
}
.profile .head {
  float:left;
  width:70px;
  /* color:#bbb; */
}
.profile .item {
  margin-left:70px
}
.profile .word {
  /* word-wrap: keep-all; */
  /* overflow-wrap: break-word; */
  display: inline-block;
}




a {
	text-decoration: none;
}
h2 a {
  /* font-weight: 400; */
}
h2 a:hover {
  opacity:0.4;
}

/* a u{
  color: #8f8f8f;
}
a:hover u{
  opacity:0.4;
} */
.head_menu a:hover {
  opacity:0.4;
}



video {
  object-fit: cover;
}


/*ヘッダのフォント設定*/

.header_margin {
  padding-top: 120px;
  margin-top: -62px;
}


h1{
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: #000000;
	font-size: 180%;
	/* margin-bottom: 40px; */
}
h2{
  margin-top:10px;
  margin-bottom: 10px;
  color: #000000;
}
h3{
  margin-top:30px;
  margin-bottom: 5px;
  color: #000000;
}






.head_font1{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 160%;
  text-decoration: none;
  font-weight: bold;
}

.highlight{
  background:linear-gradient(transparent 50%, #ffff66 50%);
  display: inline;
}


.header1{
  height: 65px;
  width: 100%;
  background: rgba(255,255,255,0.0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.header2{
  height: 65px;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,1.0), rgba(255,255,255,0.8));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.head_logo{
  position:absolute;
  left:5%;
  top: 20px;
}
@media screen and (min-width:980px){
  .head_menu {
    position:absolute;
    right:5%;
    font-family: HelveticaNeue-light, "sans-serif";
    top: 26px;
    font-weight: bold;
    color: #000;
    display: block;
  }
  .head_menu a {
    color:#000;
  }
  .head_menu a :hover{
    opacity: 0.4;
  }
}
@media screen and (max-width:980px){
  .head_menu {
    position:absolute;
    top:65px;
    left:calc(5% - 20px);
    width: 100%;
    height:20vh;
    font-size:100%;
    font-family: HelveticaNeue-light, "sans-serif";
    font-weight: bold;
    color: #000;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.0));
    display: none;
  }
  .head_menu a {
    margin: 20px 20px 20px 20px;
  }
  .head_menu a :hover{
    opacity: 1;
  }
  #hamb_menu {
    position:absolute;
    right:5%;
    top: 26px;
    color: #000;
    display: block;
    cursor: pointer;
  }
  #hamb_menu div {
    width: 30px;
    height: 2px;
    background: black;
    transition: all .5s;
  }
  #hamb_menu div:nth-of-type(1){
    margin-top: 0px;
  }
  #hamb_menu div:nth-of-type(2){
    margin-top: 6px;
  }
  #hamb_menu div:nth-of-type(3){
    margin-top:6px;
  }
  #hamb_menu.active div:nth-of-type(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
  }
  #hamb_menu.active div:nth-of-type(2) {
    opacity: 0;
  }
  #hamb_menu.active div:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
  }
}

.reel_mov {
  width:100%;
  height:24vw;
  margin-bottom:2vw;
  object-fit: cover;
}
.reel_bg {
  position:fixed;
  left: 50%;
  top: 50%;
  /* left: 0; */
  /* top: 0; */
  transform: translate(-50%,-50%);
  width:100vw;
  height:100vh;
  object-fit: cover;
 }

.footer {
  font-size: 70%;
}
.footer center {
  color:#4f4f4f;
  margin-top:40px;
  margin-bottom:20px;
}
.footer .fix {
  color:#fff;
  position:fixed;
  top:95vh;
  left: 50%;
  transform: translate(-50%,0);
  z-index:4;
}
