.profile {
  color: #eee;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, 0%);
  margin-left: 0;
  margin-bottom: 50px;
}

@media screen and (min-width:620px) {
  .profile {
    width: calc(620*0.9px);
  }
}

@media screen and (max-width:620px) {
  .profile {
    width: 90%;
    overflow: hidden;
  }
}

.profile a {
  color: #eee;
}

.profile a:hover {
  opacity: 0.4;
}

.profile img {
  width: 100%;
  /* width:30%; */
  margin-right: 35px;
  padding-bottom: 20px;
}

.profile .bullet {
  padding-top: 4px;
  padding-bottom: 4px;
}

.profile h1 {
  font-size: 130%;
  color: #eee;
  font-weight: 600;
  margin: 0 0 0 0;
}

.profile h2 {
  font-size: 100%;
  color: #eee;
  font-weight: 600;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 3px;
}

.profile h3 {
  font-size: 90%;
  color: #eee;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 3px;
}

.profile p {
  margin-bottom: 5px;
}

.profile ol,
.profile ul {
  margin-left: -20px;
  margin-top: 0;
}

.profile ol li div, .profile ul li div {
  margin-left: 5px;
}

.profile ol li, .profile ul li {
  margin: 0px;
}


/* .profile ol li:hover {
  background: #eee;
} */

.profile .block {
  margin-bottom: 30px;
  margin-right: 16px;
  width: 100%;
}

.profile .head {
  float: left;
  width: 90px;
}

.profile .item {
  margin-left: 110px
}


.profile .sub-item {
  color: #888;
  /* padding-right:10px; */
}

.profile .sub-item a {
  color: #888;
}

.profile .link {
  color: #eee;
  text-decoration: underline;
  margin: 0 6px 0 6px;
}


.profile word-wrap {
  word-wrap: keep-all;
  overflow-wrap: break-word;
  display: inline-block;
}

.profile .border {
  width: 20px;
  text-align: left;
  margin-left: 20px;
  color: #aaa;
  border-bottom: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lang_menu {
  position: absolute;
  right: 0;
  top: 80px;
}

.lang_menu a {
  color: #4f4f4f;
}

.lang_menu a:hover {
  opacity: 0.4;
}

/* 
.profile .reel_link a {
  color: #fff;
  font-weight: bold;
  position: relative;
  top: -50px;
  left: 10px;
} */

.profile .reel_link {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 34.6px;
  border-color: transparent transparent transparent #fff;
  margin-top: -20px;
  margin-left: -20px;
  opacity: 0.6;
}

.profile .reel_link:hover {
  opacity: 1.0;
}

.profile .in_menu {
  color: #eee;
  border: #eee solid 1px;
  padding: 3px 10px 2px 10px;
}

#show-more {
  cursor: pointer;
}

.lang-menu {
  height: 10px;
  width: auto;
  position: absolute;
  right: 0px;
}

/* #more-info {
  display: none;
} */

#show-more {
  margin-bottom: 50px;
  /* text-align: center; */
}