body {
  scroll-behavior: smooth;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", 'ヒラギノ角ゴ Pro', sans-serif;
  color: #4f4f4f;
  background-color: #000;
  font-size: 80%;

  width: 100vw;
  margin: 0 0 0 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


.logo_img {
  width: 17px;
  height: 17px;
  margin-right: 3px;
}


a {
  text-decoration: none;
}

.works_menu a {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000;
  font-weight: 900;
  display: inline-block;
  /* border-bottom: #000 solid 0.5px; */
  margin-left: 0px;
  width: 30px;
  transform: rotate(60deg)
}

p a,
h2 a,
h1 a {
  color: #000;
}

.head_menu a:hover,
h2 a:hover,
h1 a:hover,
.works_menu a:hover,
.reel_menu a:hover,
.sub_menu a:hover,
p a:hover {
  opacity: 0.4;
}

.sub_menu {
  margin-bottom: 20px;
}

.sub_menu a {
  font-size: 120%;
  /* font-weight: bold; */
  color: #000;
}


.works_menu {
  position: fixed;
  left: 5%;
  top: 72px;
  font-size: 120%;
  z-index: 3;
  color: #000;
}




/* video {
  object-fit: cover;
} */



/*ヘッダのフォント設定*/

.header_margin {
  padding-top: 130px;
  margin-top: -62px;
}


h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
  /* font-size: 300% */
  /* margin-bottom: 40px; */
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  /* font-size: 100%; */
  color: #000;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}



.underbar {
  border-bottom: solid 1px #000;
  padding-bottom: 3px;
}


.video-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.footer {
  font-size: 70%;
  font-weight: normal;
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", 'ヒラギノ角ゴ Pro';

  /* position:absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,0); */
  /* width: 90%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-bottom: 20px;
}

.footer .fix {
  position: fixed;
  bottom: 10px;
}