.header2{
    height: 65px;
    width: 100%;
    background: rgba(255,255,255,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    color:#000;
  }
  .header2 .head_font{
    font-size: 160%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    color:#000; 
  }
  
  .header2 .title {
    position:absolute;
    left:5%;
    top: 20px;
  }
  
  .header2 .pc .head_menu {
    position:absolute;
    right:5%;
    top: 20px;
    display: block;
  }
  .header2 .pc .head_menu a {
    color:#000;
  }
  .header2 .pc .head_menu a :hover{
    opacity: 0.4;
  }
  .header2 .mobile .head_menu {
    display: none;
  }