.header-logo {
    height: 65px;
    width: 100%;
    background: rgba(255,255,255,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    color: #000;
}

.header-logo .head_font {
    font-size: 160%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
    font-weight: normal;
    color: #000;
}

.header-logo .title {
    position: absolute;
    left: 5%;
    top: 20px;
}

.head_menu hr {
    width: 30px;
    border-top: #000 solid 1px;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }

.header-logo .mobile .head_menu {
    background: rgba(255, 255, 255, 0.5);

    position: absolute;
    width: 100%;
    height: 150vh;

    display: none;
    opacity: 0.9;
    text-align: center;
    padding-top: 0%;
}

.header-logo .mobile .head_menu div {
    margin-top: 100px;
    margin-bottom: 50px;
}

.header-logo .mobile .head_menu a {
    color: #000;
}

.header-logo .mobile .head_menu a :hover {
    color: #000;
    opacity: 1;
}

.header-logo .pc .head_menu {
    display: none;
}

#hamb_menu {
    position: absolute;
    right: 5%;
    top: 26px;
    color: #000;
    display: block;
    cursor: pointer;
}

#hamb_menu div {
    width: 30px;
    height: 2px;
    background: #000;
    transition: all .5s;
}

#hamb_menu div:nth-of-type(1) {
    margin-top: 0px;
}

#hamb_menu div:nth-of-type(2) {
    margin-top: 6px;
}

#hamb_menu div:nth-of-type(3) {
    margin-top: 6px;
}

#hamb_menu.active div:nth-of-type(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
}

#hamb_menu.active div:nth-of-type(2) {
    opacity: 0;
}

#hamb_menu.active div:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
}